/* navbar style settings */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    width: 100%;
    transition: 600ms;
    z-index: 100;
    background-color: #9cb390;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: calc(12vw - 60px);
}

#logo {
    cursor: pointer;
    height: 50px;
    width: 50px;
    transition: 2s;
    margin-left: 12vw;
}

/* links navbar settings */
.nav-links li {
    list-style: none;
    float: left;
}

.nav-links li a {
    color: #e9dac4;
    margin: 0 60px;
    text-decoration: none;
    font-size: 1.2em;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    transition: 300ms;
    cursor: none;
}

.nav-links li a:hover {
    color: #1c2e1e;
}

/* burger navbar settings */
.burger {
    width: 60px;
    height: 60px;
    background-color: #e68062;
    position: fixed;
    top: 3vw;
    right: 3vw;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5000;
    animation: display-burger 500ms normal forwards ease-in-out;
    transition: 200ms;
}

.burger div {
    transition: all 0.3s ease;
}

.burger:hover {
    background-color: #ffb49d;
}

@keyframes display-burger {
    from{
        opacity: 0;
        transform: scale(0, 0);
    }
    to{
        opacity: 1;
        transform: scale(1, 1);
    }
}

.burger .line-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.burger .line1,
.burger .line2 {
    width: 25px;
    height: 2px;
    background-color: #1c2e1e;
}

.hidden-burger {
    animation: hide-burger 500ms normal forwards ease-in-out;
}

@keyframes hide-burger {
    from{
        opacity: 1;
        transform: scale(1, 1);
    }
    to{
        opacity: 0;
        transform: scale(0, 0);
    }
}

/* burger settings */
.nav-links-burger {
    position: fixed;
    right: 0;
    top: 15vh;
    height: 90vh;
    border-top-left-radius: 10px;
    width: 30%;
    margin-top: -15px;
    background-color: #7b926f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: 500ms ease-in-out;
    z-index: 3000;
}

.nav-active {
    transform: translateY(0%);
    transition: 500ms ease-in-out;
}

.nav-links-burger .link {
    margin: 30px 0; 
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-3px, 2.5px); 
}

.toggle .line2 {
    transform: rotate(45deg) translate(-3px, -2.5px);
}

@media only screen and (max-width: 800px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: right;
        margin-right: calc(12vw - 60px);
    }

    .nav-links li {
        float: none;
        margin: 5px 0;
    }
}

@media only screen and (max-width: 600px) {
    .nav-links li a {
        font-size: 1em;
    }
}

@media only screen and (max-width: 500px) {
    .burger {
        position: fixed;
        top: 7vw;
        right: 7vw;
    }

    .nav-links-burger {
        width: 50%;
    }
}