@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    cursor: none;
}

h3 {
    margin: 0;
    padding: 0;
}

/* general section styling */
.secondary-heading {
    color: #e2af80;
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 7vw;
    padding: 0 12vw;
}

.secondary-heading h3 {
    padding-top: 60px;
}

/* section 1 styling - INTRO PAGE */
#section-1 {
    background-color: #9cb390;
    height: calc(100vh - 70px);
    width: 100%;
    position: relative;
    top: -20px;
}

.section1-wrapper {
    display: flex;
    flex-direction: column;
    color: #1c2e1e;
}

h1 {
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 10.3vw;
    text-align: center;
    margin: 7vh 0 10vh 0;
    padding: 0 12vw;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    line-height: 9vw;
}

.char {
    transform: translateY(115px);
    transition: transform .5s;
}

.pink-wrapper {
    background-color: #e2af80;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pink-wrapper .introText-container {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 12vw;
}

.pink-wrapper .introText-container h2 {
    font-size: 2em;
    font-weight: 900;
    max-width: 35vw;
}

.pink-wrapper .introText-container p {
    font-size: 1.2em;
    max-width: 35vw;
}

.myImage-container img {
    width: 45vh;
    height: 45vh;
    border: 1.5px solid #1c2e1e;
    position: relative;
    top: -2vh;
    right: 12vw;
}

#section-1 .scroll-wrapper {
    width: 30%;
    font-size: 0.9em;
    margin-top: 10vh;
}

.scroll-wrapper {
    padding: 0 12vw;
}

/* section 2,3 styling - PROJECTS PAGE */

.dark-background {
    background: linear-gradient(45deg, #1a271c, #1c2e1e, #314533);
    border-radius: 30px;
    width: 100%;
    position: relative;
    top: -30px;
    z-index: 100;
}

/* project page headings */
#section-2,
#section-3 {
    margin-top: -20px;
    width: 100%;
}

.section2-wrapper {
    padding-bottom: 100px;
    width: 100%;
}

.section3-wrapper {
    padding-bottom: 100px;
}

.project-title {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 20px;
}

.prj-name {
    opacity: 0;
    transition: all 800ms;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}

.show-project-name {
    opacity: 1;
    transition-delay: 400ms;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

#section-2 .project-number {
    margin: 5vh 0;
    padding: 0 12vw;
}

#section-3 .project-number {
    margin: 5vh 0;
    padding: 0 12vw;
}

.project-number p {
    font-size: 5em;
    color: #afbda8;
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
}

.project-number .horizontal-underline {
    height: 2px;
    width: 100%;
    background-color: #afbda8;
}

.project-number h4 {
    font-size: 5em;
    color: #afbda8;
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 370;
    font-style: normal;
}

/* project page descriptions */
#section-2 .project-wrapper,
#section-3 .project-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 50px;
    padding: 0 12vw;
}

.project-description {
    width: 40%;
}

.project-description h4 {
    color: #e2af80;
    margin: 0;
    font-size: 1.2em;
}

.project-description p {
    text-align: left;
    line-height: 1.7em;
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 1.2em;
}

.scroll-reveal span {
    color: rgba(255, 255, 255, 0.2);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(90deg, #c1d2b8, #c1d2b8);
    animation: scroll-reveal linear forwards;
    animation-timeline: view();
    animation-range-start: cover 10vh;
    animation-range-end: cover 70vh;
}

.scroll-reveal br {
    content: "A" !important;
    display: block !important;
    margin-bottom: 1em !important;
}

@keyframes scroll-reveal {
    to {
        background-size: 100% 100%;
    }
}

.project-description .technologies {
    margin-top: 40px;
}

.project-description .technologies-list {
    background-color: #e2af80;
    padding: 15px;
    margin-top: 15px;
    border-radius: 7px;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.project-description .technologies-list p {
    color: #1c2e1e;
    font-weight: 700;
    font-size: 0.9em;
    margin: 0 10px;
    text-align: center;
}

.project-video {
    width: 60%;
    height: 70vh;
}

.video-1 {
    background-image: url("./img/stephanie-harvey-80xePqQVKzs-unsplash.jpg");
}

.video-2 {
    background-image: url("./img/stephanie-harvey-aK53f8eAzck-unsplash.jpg");
}

.video-1,
.video-2 {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-video a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: none;
}

.project-video a video {
    width: 90%;
    border-radius: 7px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.55);
    cursor: none;
}


/* section 4 styling - ABOUT ME PAGE */
#section-4 {
    margin-top: -20px;
    /* overflow: hidden; */
}

.section4-wrapper {
    padding-bottom: 100px;
}

/* section 4 - my description styling */
.my-description {
    width: 100%;
    margin-top: 40px;
    background-image: url("./img/rodion-kutsaiev-TMa_5BLvDqQ-unsplash.jpg");
    background-position: start;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: image-reveal linear forwards;
    animation-timeline: view();
}

@keyframes image-reveal {
    to {
        background-position: center;
    }
}

.my-description div {
    padding: 0 12vw;
}

.myDescription-text p {
    text-align: center;
    font-weight: 400;
    font-family: "Hanken Grotesk", sans-serif;
    margin: 0;
    color: #1c2e1e;
    line-height: 1.7em;
    font-size: 1.3em;
    font-weight: 900;
    margin: 80px 0;
}

.myDescription-images {
    display: flex;
    gap: 25px;
    margin-bottom: 50px;
}

.myDescription-images img {
    height: 40px;
    width: auto;
}

/* section 4 - education details styling */
.my-education {
    margin-top: 80px;
    margin-left: 12vw;
    overflow: hidden;
}

.education-item {
    margin-bottom: 40px;
}

.hidden-education-item {
    opacity: 0;
    transform: translateX(100%);
    transition: all 1s;
    animation-iteration-count: 1;
}

.show-education-item {
    opacity: 1;
    transform: translateX(0);
    animation-iteration-count: 1;
}

.education-item:nth-child(1) {
    transition-delay: 200ms;
}

.education-item:nth-child(2) {
    transition-delay: 400ms;
}

.education-item:nth-child(3) {
    transition-delay: 600ms;
}

.education-item:nth-child(4) {
    transition-delay: 800ms;
}

@media(prefers-reduced-motion) {
    .hidden-education-item {
        transition: none;
    }
}

.education-title {
    background-color: #e2af80;
    color:#1a271c;
    display: flex;
    justify-content: space-between;
    padding-right: 12vw;
}

.education-title h4 {
    margin: 0;
    padding: 7px 0 7px 7vw;
    font-size: 1rem;
}

.education-title h4:first-of-type {
    max-width: 650px;
}

.education-description {
    color: #c1d2b8;
    font-size: 1rem;
    padding-left: 7vw;
    width: 60%;
    max-width: 1000px;
    text-align: justify;
}

.education-description p {
    line-height: 1.7em;
    font-weight: 300;
}

.education-description span {
    font-weight: bold;
    color: #e2af80;
}

/* section 5 styling - CONTACT PAGE */
#section-5 {
    background-color: #9cb390;
    width: 100%;
    position: relative;
    top: -60px;
    margin-bottom: -60px;
    overflow: hidden;
}

.last-heading {
    color: #1c2e1e;
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 7vw;
    padding: 100px 12vw 0 12vw;
    padding-top: 100px;
}

.form {
    grid-area: form;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
  
.info {
    grid-area: info;
}
  
.box {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "form info";
    grid-gap: 5vw;
    padding-left: 12vw;
    margin-top: 60px;
    margin-bottom: 10vw;
    color: #1c2e1e;
}
  
/* form styling */
.inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formBox .row100 .inputBox {
    width: 100%;
}

.inputBox input {
    margin: 10px 0;
    padding: 5px 0;
    font-size: 1rem;
    font-family: "DM Sans", sans-serif;
    color: #1c2e1e;
    border: none;
    outline: none;
    border-bottom: 1.5px solid #447243;
    background: none;
}

.inputBox input::placeholder,
.inputBox textarea::placeholder {
    color: #447243;
}
  
.inputBox input:hover,
.inputBox input:focus,
.inputBox textarea:hover,
.inputBox textarea:focus {
    border-bottom: 1.5px solid #1c2e1e;
}

.inputBox textarea {
    margin: 10px 0;
    font-size: 1rem;
    font-family: "DM Sans", sans-serif;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1.5px solid #447243;
    color: #1c2e1e;
    resize: none;
    min-height: 120px;
    margin-bottom: 10px;
}
  
.inputBox button {
    align-self: flex-start;
    background: #1c2e1e;
    color: #c1d2b8;
    width: 200px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    font-family: "DM Sans", sans-serif;
    padding: 15px;
    transition: 300ms ease;
    margin-bottom: -10px;
}
  
.inputBox button:hover {
    background: #e2af80;
    color: #1c2e1e;
    font-weight: 500;
}

/* info box styling */
.info {
    background-color: #e2af80;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 30px;
}

.info-container:first-of-type {
    margin-top: 60px;
}

.info-container {
    margin-bottom: 60px;
}

.info-container h4 {
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
}

.info-container div {
    display: flex;
    flex-direction: column;
}

.info-container div a {
    text-decoration: none;
    color: #1a271c;
    padding: 5px 0;
    width: 150px; 
}

.info-container div a:hover {
    color: #e1ebdc;
}

.sociaMedia-links {
    margin-top: -10px;
}

.info-container span {
    margin-right: 10px;
}

.info-container p {
    margin: 0;
}

.hidden-infoBox {
    opacity: 0;
    transform: translateX(100%);
    transition: all 1s; 
}

.show-infoBox {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 700ms;
}

/* social media iconify settings */
.mdi--github {
    display: inline-block;
    width: 2em;
    height: 2em;
    color: #1a271c;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33s1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    transform: translateY(0.5em);
}

.entypo-social--linkedin-with-circle {
    display: inline-block;
    width: 2em;
    height: 2em;
    color: #1a271c;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='M10 .4C4.698.4.4 4.698.4 10s4.298 9.6 9.6 9.6s9.6-4.298 9.6-9.6S15.302.4 10 .4M7.65 13.979H5.706V7.723H7.65zm-.984-7.024c-.614 0-1.011-.435-1.011-.973c0-.549.409-.971 1.036-.971s1.011.422 1.023.971c0 .538-.396.973-1.048.973m8.084 7.024h-1.944v-3.467c0-.807-.282-1.355-.985-1.355c-.537 0-.856.371-.997.728c-.052.127-.065.307-.065.486v3.607H8.814v-4.26c0-.781-.025-1.434-.051-1.996h1.689l.089.869h.039c.256-.408.883-1.01 1.932-1.01c1.279 0 2.238.857 2.238 2.699z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    transform: translateY(0.5em);
}

/* footer styling */
footer {
    background-color: #9cb390;
    height: 100px;
    display: flex;
    align-items: center;
}

footer div p {
    color: #1a271c;
    font-size: 1.5em;
    font-weight: 900;
    margin-left: 12vw;
    margin-bottom: 0;
}

/* cursor styling */
.inner-cursor {
    z-index: 2000;
    position: fixed;
    left: 10px;
    width: 5px;
    height: 5px;
    transform: translate(-50%, -50%);
    background-color:#e68062;
    border-radius: 50%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
    z-index: 5000;
    color: #1a271c;
    font-weight: 500;
}

.outer-cursor {
    z-index: 2000;
    position: fixed;
    left: 10px;
    width: 45px;
    height: 45px;
    transform: translate(-50%, -50%);
    border: 1px solid #e68062;
    border-radius: 50%;
    pointer-events: none;
    transition: 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    z-index: 5000;
}

.outer-cursor.grow {
    display: none;
}

.inner-cursor.grow {
    animation: grow-cursor 300ms normal forwards ease-in-out;
}

.outer-cursor.shrink {
    display: block;
}

.inner-cursor.shrink {
    animation: shrink-cursor 300ms normal forwards ease-in-out;
}

@keyframes grow-cursor {
    from{
        width: 5px;
        height: 5px;
        transition: width 0.5s, height 0.5s;
        scale: 1;
    }
    to{
        width: 40px;
        height: 40px;
        transition: width 0.5s, height 0.5s;
        transform: translate(-50%, -50%);
        scale: 2;
    }
}

@keyframes shrink-cursor {
    from{
        width: 32px;
        height: 32px;
        transition: width 0.5s, height 0.5s;
        transform: translate(-50%, -50%);
        scale: 2;
    }
    to{
        width: 5px;
        height: 5px;
        transition: width 0.5s, height 0.5s;
        scale: 1;
    }
}

@media only screen and (max-width: 1330px) {
    /* section 1 settings - HOME PAGE */
    .myImage-container img {
        width: 35vh;
        height: 35vh;
    }

    /* section 2,3 settings - PROJECTS PAGE */
    #section-2 .project-wrapper,
    #section-3 .project-wrapper {
        align-items: center;
        gap: 30px;
    }

    .project-description .technologies-list {
        padding: 7px;
        margin-top: 7px;
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }
    
    .project-description .technologies-list p {
        color: #1c2e1e;
        font-weight: 700;
        font-size: 0.9em;
        margin: 0 10px;
        text-align: center;
    }
}

@media only screen and (max-width: 1024px) {
    /* section 2,3 settings - PROJECTS PAGE */
    #section-2 .project-wrapper,
    #section-3 .project-wrapper {
        display: flex;
        flex-direction: column;
    }

    .project-description,
    .project-video {
        width: 100%;
    }
    
    .project-number p,
    .project-number h4 {
        font-size: 7vh;
    }
}

@media only screen and (max-width: 992px) {
    .inner-cursor,
    .outer-cursor {
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    /* section 1 settings - HOME PAGE */
    .pink-wrapper .introText-container h2,
    .pink-wrapper .introText-container p {
        max-width: 30vw;
    }

    /* section 4 settings - ABOUT ME PAGE */
    .education-title {
        display: flex;
        flex-direction: column;
    }

    .education-title h4:first-of-type {
        max-width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    /* section 1 settings - HOME PAGE */
    .section1-wrapper {
        padding-top: 10vh;
    }

    .pink-wrapper .introText-container h2 {
        font-size: 1.5em;
        font-weight: 900;
    }
    
    .pink-wrapper .introText-container p {
        font-size: 1em;
    }

    .myImage-container img {
        width: 25vh;
        height: 25vh;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    /* section 2,3 settings - PROJECTS PAGE */
    .project-number p,
    .project-number h4 {
        font-size: 5vh;
    }

    /* section 4 settings - ABOUT ME PAGE */
    .education-description {
        width: 80%;
    }

    /* section 5 settings - CONTACT ME PAGE */
    .box {
        display: flex;
        flex-direction: column;
    }

    .form {
        padding-right: 12vw;
    }

    .info {
        padding: 15px 30px;
        margin-top: 20px;
    }

    .show-infoBox {
        transition-delay: 200ms;
    }

    /* footer settings */
    footer div p {
        font-size: 1.1em;
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 600px) {
    /* section 1 settings - HOME PAGE */
    .section1-wrapper {
        padding-top: 10vh;
    }

    .pink-wrapper .introText-container h2,
    .pink-wrapper .introText-container p {
        max-width: 35vw;
    }

    #section-1 .scroll-wrapper {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    /* section 2,3 settings - PROJECTS PAGE */
    .project-wrapper p {
        font-size: 1em;
    }

    .project-video {
        height: 50vh;
    }

    /* section 4 settings - ABOUT ME PAGE */
    .education-description {
        text-align: left;
        width: 85%;
    }
}

@media only screen and (max-width: 500px) {
    /* section 1 settings - HOME PAGE */
    h1 {
        margin-top: 0;
    }

    .pink-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pink-wrapper .introText-container h2,
    .pink-wrapper .introText-container p {
        max-width: 100%;
        padding-right: 12vw;
        text-align: center;
    }

    .myImage-container img {
        width: 23vh;
        height: 23vh;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #section-1 .scroll-wrapper {
        transform: translateY(50px);
    }

    /* section 4 settings - ABOUT ME PAGE */
    .myDescription-images {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 400px) {
    /* section 2,3 settings - PROJECTS PAGE */
    .project-number p,
    .project-number h4 {
        font-size: 4vh;
    }
}